.alert-window {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 140px;
    padding: 0px;
    background-color: #FFF;
    border: 5px solid rgba(37, 35, 42, 0.842);
    z-index: 200;
    box-shadow: #000 0 2px 18px;
    z-index: 52;
    overflow: hidden;
    display: none;
}

.col-1 {
    width: 20%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.col-1 i {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
}

.col-2 {
    width: 70%;
    height: 100%;
    float: right;
    margin: 0;
    padding: 20px;
}

.col-2 p {
    font-size: 16px;
    text-align: center;
}

.button-list {
    position: absolute;
    bottom: 15px;
    right: 5px;
}

.alert-button {
    font-size: 15px;
    margin-left: 10px;
    padding: 6px;
    text-decoration: none;
    color: #E2DCCC;
    background-color: #25232A;
    border: 3px solid #C0AECD;
    transition-duration: 0.2s;
    outline: none;
    border-radius: 5px;
}

.alert-button:hover {
    color: #C0AECD;
}

.alert-blocked {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 51;
}