* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: Arial;
}

.wrapper {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
    z-index: 30;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.menu {
    background-color: #333842;
    padding: 0 18px;
    opacity: 1;
    transition-duration: 0.4s;
}

.menu ul {
    margin-left: 0;
    list-style: none;
    text-align: center;
}

.menu ul li {
    display: inline-block;
}

.menu ul li i {
    display: block;
    padding: 10px;
    color: #9599A0;
    transition-duration: 0.2s;
}

.menu ul li i:hover {
    color: #FEFEFE;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar-track
{
	border-left: 2px solid #3B414D;	
	background-color: #282C34;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #282C34;
}

::-webkit-scrollbar-thumb
{
	background-color: #3B414D;	
}