.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #282C34;
}

.content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
}

input {
    width: 100%;
    color: black;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid #C0AECD;
    border-radius: 0px;
    background-color: #ffffff;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    margin-top: 8px;
    display: inline-block;
}

.input-spn {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; }

.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 45.2%;
}
.span_1_of_4 {
	width: 22.5%;
}

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

.card {
    width: 100%;
    background-color: gray;
}

.form-btn {
    font-size: 15px;
    margin-top: 20px;
    padding: 6px 12px;
    float: right;
    text-decoration: none;
    color: #fefefe;
    background-color: #25232A;
    border: 2px solid #16a085;
    transition-duration: 0.2s;
    outline: none;
    box-shadow: none;
}

.form-btn:hover {
    background-color: #333842;
    border: 2px solid #1abc9c;
    box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
}

.form-area {
    display: block;
    width: 100%;
    background-color: red;
}