.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 0;
  border-bottom: 3px solid #C0AECD;
  background-color: #21252B;
  color: #E2DCCC;
  font-size: 13px;
  max-height: 25em;
}

.CodeMirror-hint {
  margin: 0;
  padding: 4px 6px;
  color: white;
  cursor: pointer;
  background-color: #21252B;
  overflow: hidden;
}

li.CodeMirror-hint-active {
  background-color: #2C313A;
  color: white;
}
