body {
    margin: 0;
    padding: 0;
    background: linear-gradient(324deg, #ecdbdb, #37745f, #050000);
    background-size: 600% 600%;

    animation: AnimationName 20s ease infinite;
}

.container {
    padding: 15px;
    color: #e2e2e2;
    background-color: rgba(42, 54, 59, .9); 
    width: 20%;
    text-align: center;
    font-size: 16px;
    border-top: 3px solid #99B898;
    margin: auto;
    margin-top: 90px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.5);
}

i {
    display: block;
}

p {

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 44%}
    50%{background-position:100% 57%}
    100%{background-position:0% 44%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 44%}
    50%{background-position:100% 57%}
    100%{background-position:0% 44%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 44%}
    50%{background-position:100% 57%}
    100%{background-position:0% 44%}
}
@keyframes AnimationName { 
    0%{background-position:0% 44%}
    50%{background-position:100% 57%}
    100%{background-position:0% 44%}
}

.area {
    margin: 60px auto;
    width: 20%;
    padding: 0;
    text-align: center;
}

#buton {
    font-size: 15px;
    padding: 6px 12px;
    text-decoration: none;
    color: #fefefe;
    background-color: #25232A;
    border: 2px solid #16a085;
    transition-duration: 0.2s;
    outline: none;
    box-shadow: none;
    display: none;
}

#buton:hover {
    background-color: #333842;
    border: 2px solid #1abc9c;
    box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
}
